{% extends "shared/base_generic.html" %}

{% load static %}

{% block title %}<title>Satoc - Metadata</title>{% endblock %}

{% block content %}

<div class="container_workspace">
    <div class="subcontainer">
        <div class="container_subtitle"><h2>Metadata</h2></div>
        <img class="container_workspace_image" src="{% static '/images/local_library_model_uml.png' %}" alt="Cover image">
        <p>
            <!-- texto explicando -->
            
        </p>
    </div>
</div>

{% endblock %}



