{% extends "shared/base_generic.html" %}
{% load static %}

{% block title %}<title>Satoc - Metadata</title>{% endblock %}

{% block content %}
<div class="container_workspace_subtitle"><h2>About</h2></div>
<img class="container_workspace_image" src="{% static '/images/BorneOfTheLand4.jpg' %}" alt="Cover image">
<br>
<div class="container_workspace_text">
    <p></p>
</div>

<br>
<h3>Lorem Ipsum</h3>
<br>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dolor sem, gravida ac dignissim a, auctor sed ipsum. Integer eleifend posuere placerat. Maecenas sapien justo, bibendum nec cursus non, commodo pharetra nibh. Nunc sodales ante et arcu posuere tempor. Mauris quis pretium quam, id condimentum erat. Aliquam at pellentesque nibh. Curabitur pulvinar turpis sem, sit amet vehicula mi vehicula vitae. Integer ac purus facilisis, pulvinar nunc ut, posuere velit. Vestibulum consectetur accumsan lectus, id lacinia elit aliquet in. Nam turpis nulla, elementum ac ultricies sit amet, condimentum at sapien. Aenean vitae sem interdum, efficitur quam ac, porttitor mauris. Phasellus non enim a libero efficitur suscipit. Aliquam et scelerisque magna.</p>
<br>
<p>Phasellus maximus, magna volutpat tempus molestie, turpis nisi viverra eros, vel tincidunt nisi est vel lectus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent sed dolor id enim porta dictum. Integer ut tempus lorem, ut interdum ex. Praesent vel nisi semper, sodales felis sed, tristique odio. Fusce vitae auctor lacus. Nam rhoncus orci ut ex sagittis laoreet. Nullam auctor purus dui, et egestas felis placerat at. Nam efficitur pharetra ligula vel consectetur. Integer maximus, dolor ut rhoncus hendrerit, justo leo blandit dui, quis pharetra lacus mauris vitae justo. Suspendisse sit amet sodales odio. Phasellus eget tempor nibh, ut porta nulla. Praesent condimentum mauris sed congue gravida. Morbi vulputate congue lorem ut scelerisque. Sed molestie nisl massa, at eleifend ante iaculis in. Aenean euismod, magna non porttitor efficitur, purus orci vehicula purus, quis auctor ante neque ut nulla.</p>

{% endblock %}