{% extends "shared/base_generic.html" %}
{% load static %}


{% block title %}<title>Satoc - OFS - Detail</title>{% endblock %}

{% block subtitle %}<h2>Original Data Source</h2>{% endblock %}

{% block content %}
<table class="table_main">
    <tbody>
        <tr><th>Attribute </th><th>Value</th></tr>
        <tr><td>Primary Key: </td><td>{{ originalfoldersource.ofs_id }}</td></tr>
        <tr><td>Name: </td><td>{{originalfoldersource.ofs_name }}</td></tr>
        <tr><td>Receipt Date: </td><td>{{ originalfoldersource.ofs_receiptdate }}</td></tr>
        <tr><td>Means of Receipt: </td><td>{{ originalfoldersource.ofs_meansofreceipt }}</td></tr>
        <tr><td>Storage Place: </td><td>{{ originalfoldersource.ofs_storageplace }}</td></tr>
        <tr><td>Size: </td><td>{{ originalfoldersource.ofs_size }} MB</td></tr>
        <tr><td>Number of feature classes: </td><td>{{ originalfoldersource.ofs_featureclass }}</td></tr>
        <tr><td>Format: </td><td>{{ originalfoldersource.ofs_format }}</td></tr>
        <tr><td>Email attached: </td><td>{{ originalfoldersource.ofs_email }}</td></tr>
        <tr><td>Description: </td><td>{{ originalfoldersource.ofs_description }}</td></tr>
    	</tbody>
</table>
<br>
<table class="table_auxiliar">
    <tbody>
        <tr><th colspan="4">{{ originalfoldersource.ofs_name }} basic pipeline</th></tr>
        <tr>
            <th class="table_auxiliar_head">Original Data Source</th>
            <th class="table_auxiliar_head">Original File Name</th>
            <th class="table_auxiliar_head">Final Feature Class</th>
            <th class="table_auxiliar_head">Final Database</th>
        </tr>        
        {% for filename in finalfilename %}
        <tr>
            <td class="table_source">{{ originalfoldersource.ofs_name }}</td>
            <td class="table_source">{{ filename.ffn_ofn }}</td>
            <td class="table_target">{{ filename.ffn_featureclass }}</td>
            {% if filename.ffn_fdb %}
                <td class="table_target">{{ filename.ffn_fdb }}</td>
            {% else %}
                <td class="table_target">-----</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}