<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>Satoc - Home</title>{% endblock %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static '/styles/styles.css' %}">
</head>


<body>
<header>
    <div class="header_container">
        <div><img class="header_image" src="{% static '/images/logo-grupo-Typsa.png' %}" alt="typsa logo"></div>
        <div><h1 class="header_text">GIS</h1></div>
        <div><img class="header_image" src="{% static '/images/MOD.jpg' %}" alt="Satoc logo"></div>
    </div>
</header>

<main>
    <div class="container">
        <nav class="container_navbar">
            <ul class="navbar">
                <a href="{% url 'index' %}"><li class="navbar_item">Home</li></a>
                <a href="{% url 'metadata:metadata_home' %}"><li class="navbar_item">Metadata</li></a>

                    {% if '/metadata' in request.path %}                
                        <a href="{% url 'metadata:ofs-list' %}"><li class="navbar_item_external">Original Data Source</li></a>
                        <a href="{% url 'metadata:ofn-list' %}"><li class="navbar_item_external">Original File Name</li></a>
                        <a href="{% url 'metadata:ffn-list' %}"><li class="navbar_item_external">Final Feature Class</li></a>
                        <a href="{% url 'metadata:fdb-list' %}"><li class="navbar_item_external">Final Feature Dataset</li></a>
                        <a href="{% url 'metadata:metadata_about' %}"><li class="navbar_item_external">About</li></a>
                    {% endif %}

                   

                <a href="{% url 'metadata:form' %}"><li class="navbar_item">Form</li></a>
                <a href="/admin"><li class="navbar_item">Admin</li></a>
            </ul>
        </nav>
        
        <div class="container_workspace">
            <div class="subcontainer">
                <div class="table_subtitle">{% block subtitle %}   {% endblock %}</div>
                    <!-- General block for using with the pages -->
                    {% block content %} {% endblock %}
                </div>
            <br>
            <input type="reset" onclick="history.back()" value="Back" class="button">
        </div>
    </div>
</main>

<footer>
    <p>Developed in Django by Maza</p>
</footer>

</body>
</html>