{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metadata</title>
    <link rel="stylesheet" href="{% static '/styles/styles.css' %}">
</head>

<body>

<header>
    <div><img class="header_logo" src="{% static '/images/logo-grupo-Typsa.png' %}" alt="typsa logo"></div>
    <h1 class="header_text">GIS</h1>
    <div><img class="header_logo" src="{% static '/images/MOD.jpg' %}" alt="Satoc logo"></div>
</header>

<main>
    <div class="main_container">
        <aside class="lateral_bar">
            <nav class="lateral_menu">
                <a class="lateral_menu_link" href="{% url 'index' %}">Home</a>
            </nav>
            <nav class="lateral_menu">
                <a class="lateral_menu_link" href="">Metadados</a>
                <a class="lateral_menu_link" href="">Sub-metadados mais alongados</a>
            </nav>
            <nav class="lateral_menu">
                <a class="lateral_menu_link" href="">admin</a>
            </nav>
        </aside>
        <div class="auxiliar_container">
            <div class="subtitle">
                <h2>Site for Metadata</h2>
            </div>
            <img class="cover_image" src="{% static '/images/BorneOfTheLand5.png' %}" alt="Cover image">
        </div>
    </div>
</main>

<footer class="footer">
    <p>Developed in Django by Maza</p>
</footer>

</body>